<link rel="stylesheet" href="fireFighterHandler/fireFighterCounter.css">
<div id="fireFighterCounter">

<div id="fireFighterCounter_header">
<p style="text-align: center">

Ad account ID: <input type="text" ng-model="$ctrl.adAccountID"></input>
<button style="margin-right: 10px" ng-click="$ctrl.cleanID()">Clean</button>

Acess token: <input type="text" ng-model="$ctrl.accessToken"></input>
<button style="margin-right: 10px" ng-click="$ctrl.cleanToken()">Clean</button>

<button style="margin-left: 10px" ng-click="$ctrl.startSearch()">Start search</button>

</p>
</div>


<div id="fireFighterCounter_interface" class="check-element animate-show-hide" ng-show="$ctrl.interfaceIsVisible">
<p>

Country: <input list="countries" ng-model="$ctrl.countryName" style="margin: 10px"></input>
<datalist id="countries">
<option ng-repeat="c in $ctrl.countryList" value="{{c['name']}}">
</datalist></br>

Min age: <input type="text" ng-model="$ctrl.minAge" style="margin: 10px"></input>

Max age: <input type="text" ng-model="$ctrl.maxAge" style="margin: 10px"></input></br>

Gender:
<select ng-model="$ctrl.gender" style="margin: 10px">
<option value="1">male</option>
<option value="2">feemale</option>
<option value="0">both</option>
</select></br>

<button ng-click="$ctrl.countryHandler()" style="margin-top: 20px">Search Firefighters!</button>

<p id="fireFighterCounter_counter" >Firefighters found: {{$ctrl.counter}}</p>

</p>
</div>

</div>